{% extends 'ad_base.html' %} {% load static %}
<!-- title -->
{% block title %}Job Page Images{% endblock %}
<!-- CSS -->
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/ad_index.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" /> -->
{% endblock %}
<!-- main content -->
{% block content %}
<div class="cntr p-8">
  <h1>I am in Job Page Image page</h1>
</div>
{% endblock %}
<!-- JS -->
{% block js %}
<!-- <script src="{% static 'js/ad_index.js' %}"></script> -->
{% endblock %}
