<div
  class="fixed inset-0 flex items-center justify-center z-50 hidden"
  id="workHistoryModal2"
>
  <div class="bg-white w-full max-w-lg p-6 rounded-lg shadow-lg">
    <!-- Modal Header -->
    <div class="p-4 border-b border-gray-200 text-center bg-gray-50 mb-2">
      <h5
        class="text-blue-600 font-bold text-xl"
        style="
          color: #007bff;
          font-weight: bold;
          font-size: 1.5rem;
          text-align: center;
          margin: 0;
        "
      >
        Add Work History
      </h5>
    </div>

    <!-- Modal Body -->
    <div>
      <form id="workHistoryForm" method="POST" action="{% url 'edit_job' %}">
        {% csrf_token %}
        <!-- Company and Title -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <label for="company" class="mb-2"
              >Company <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              id="company_"
              name="company"
              placeholder="Enter company name..."
              class="px-4 py-2 border border-gray-300 rounded-md required"
              required
            />
            <span class="text-red-500 text-sm hidden" id="company-error"
              >This field is required.</span
            >
          </div>
          <div class="flex flex-col">
            <label for="title" class="mb-2"
              >Title <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              id="job_title_"
              name="job_title"
              placeholder="Enter your job title..."
              class="px-4 py-2 border border-gray-300 rounded-md required"
              required
            />
            <span class="text-red-500 text-sm hidden" id="title-error"
              >This field is required.</span
            >
          </div>
        </div>

        <!-- City and Country -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <label for="city" class="mb-2"
              >City <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              id="city_"
              name="city"
              placeholder="Enter city name..."
              class="px-4 py-2 border border-gray-300 rounded-md required"
              required
            />
            <span class="text-red-500 text-sm hidden" id="city-error"
              >This field is required.</span
            >
          </div>
          <div class="flex flex-col">
            <label for="country" class="mb-2"
              >Country <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              id="country_"
              name="country"
              placeholder="Enter country name..."
              class="px-4 py-2 border border-gray-300 rounded-md required"
              required
            />
            <span class="text-red-500 text-sm hidden" id="country-error"
              >This field is required.</span
            >
          </div>
        </div>

        <!-- Worked From and Worked Till -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <label for="workedFrom" class="mb-2"
              >Worked From <span class="text-red-500">*</span></label
            >
            <input
              type="date"
              id="start_date_"
              name="start_date"
              class="px-4 py-2 border border-gray-300 rounded-md required"
              required
            />
            <span class="text-red-500 text-sm hidden" id="workedFrom-error"
              >This field is required.</span
            >
          </div>
          <div class="flex flex-col">
            <label for="workedTill" class="mb-2"
              >Worked Till <span class="text-red-500">*</span></label
            >
            <input
              type="date"
              id="end_date_"
              name="end_date"
              class="px-4 py-2 border border-gray-300 rounded-md"
            />
            <span class="text-red-500 text-sm hidden" id="workedTill-error"
              >This field is required.</span
            >
          </div>
        </div>

        <!-- Checkbox -->
        <div class="flex items-center mb-4">
          <input
            type="checkbox"
            name="currently_working"
            id="currently_working_"
            class="mr-2"
          />
          <label for="currentlyWorking">I currently work here</label>
        </div>

        <!-- Description -->
        <div class="mb-4">
          <label for="description" class="mb-2">Description</label>
          <textarea
            id="description_"
            name="description"
            placeholder="Describe your role and key accomplishments..."
            class="w-full px-4 py-2 border border-gray-300 rounded-md"
          ></textarea>
        </div>
        <!-- Modal Footer -->
        <div class="flex justify-end space-x-4">
          <button
            class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md"
            onclick="closeModal2()"
          >
            Cancel
          </button>
          <button
            class="px-4 py-2 bg-blue-500 text-white rounded-md"
            id="saveBtn"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- this is another -->

<div
  class="fixed inset-0 flex items-center justify-center z-50 {% if job_to_edit %}flex{% else %}hidden{% endif %}"
  id="workHistoryModal"
>
  <div class="bg-white w-full max-w-lg p-6 rounded-lg shadow-lg">
    <div class="p-4 border-b border-gray-200 text-center bg-gray-50 mb-2">
      <h5 class="text-blue-600 font-bold text-xl">Edit Work History</h5>
    </div>

    <div>
      <form
        id="workHistoryForm"
        method="POST"
        action="{% if job_to_edit %}{% url 'edit_job' job_to_edit.id %}{% else %}#{% endif %}"
      >
        {% csrf_token %}

        <!-- Company and Title -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <label for="company"
              >Company <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              id="company"
              name="company"
              value="{{ job_to_edit.company }}"
              class="px-4 py-2 border border-gray-300 rounded-md"
              required
            />
          </div>
          <div class="flex flex-col">
            <label for="title">Title <span class="text-red-500">*</span></label>
            <input
              type="text"
              id="title"
              name="job_title"
              value="{{ job_to_edit.job_title }}"
              class="px-4 py-2 border border-gray-300 rounded-md"
              required
            />
          </div>
        </div>

        <!-- City and Country -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <label for="city">City <span class="text-red-500">*</span></label>
            <input
              type="text"
              id="city"
              name="city"
              value="{{ job_to_edit.city }}"
              class="px-4 py-2 border border-gray-300 rounded-md"
              required
            />
          </div>
          <div class="flex flex-col">
            <label for="country"
              >Country <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              id="country"
              name="country"
              value="{{ job_to_edit.country }}"
              class="px-4 py-2 border border-gray-300 rounded-md"
              required
            />
          </div>
        </div>

        <!-- Dates -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <label for="workedFrom"
              >Worked From <span class="text-red-500">*</span></label
            >
            <input
              type="date"
              id="workedFrom"
              name="start_date"
              value="{{ job_to_edit.start_date|date:'Y-m-d' }}"
              class="px-4 py-2 border border-gray-300 rounded-md"
              required
            />
          </div>
          <div class="flex flex-col">
            <label for="workedTill">Worked Till</label>
            <input
              type="date"
              id="workedTill"
              name="end_date"
              value="{{ job_to_edit.end_date|date:'Y-m-d' }}"
              class="px-4 py-2 border border-gray-300 rounded-md"
              {%
              if
              job_to_edit.currently_working
              %}disabled{%
              endif
              %}
            />
          </div>
        </div>

        <!-- Currently Working Checkbox -->
        <div class="flex items-center mb-4">
          <input
            type="checkbox"
            name="currently_working"
            id="currentlyWorking"
            class="mr-2"
            {%
            if
            job_to_edit.currently_working
            %}checked{%
            endif
            %}
          />
          <label for="currentlyWorking">I currently work here</label>
        </div>

        <!-- Description -->
        <div class="mb-4">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            class="w-full px-4 py-2 border border-gray-300 rounded-md"
          >
{{ job_to_edit.description }}</textarea
          >
        </div>

        <!-- Modal Footer -->
        <div class="flex justify-end space-x-4">
          <a
            href="{% url 'fl_test' %}"
            class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md"
            >Cancel</a
          >
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded-md"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
